/* UTILITIES */

.nobullets {
  list-style: none;
  padding: 0;
}

/* POLL */

#poll{
  width : 400px;
  margin: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.question{
  font-size: 20px;
  font-weight: 700;
  color: rgb(249, 165, 36);
  text-align: center;
}
.answer-button, .answer-wrapper{
  color: rgb(146, 146, 146);
  background: inherit;
  border: solid 1px transparent;
  box-shadow: 1px 1px 2px 2px rgb(50 50 50 / 12%);
	cursor: pointer;
	outline: none;
  margin: 5px 0px;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 14px;
}

.answer-button:hover{
  box-shadow: 1px 1px 2px 2px rgba(249, 164, 36, 0.719);
  color:rgb(249, 165, 36);
  font-weight: 600;
  transition: box-shadow 0.2s ease-in-out;
}
.answer-wrapper{
  cursor: inherit;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
}
.selected{
  color: white;
  font-weight: 600;
  background: rgba(249, 164, 36, 0.884);
  box-shadow: 1px 1px 0px 2px rgba(249, 164, 36, 0.884);
}